h1{color: #ce1f6a; font-family: arial;}
h4 {color : #ce1f6a ; font-family: arial;}


body{bbackground-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23f5d4c8' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E"); text-align: center;}

.span-title {color: #de8971; }
.span-val {color: #a7d0cd;}
.span-roso {color: #5b6d5b;}

.frame {
	border: 10px solid #ffe268 ;
	margin: 100px
	padding: 30px ;
	box-shadow: 10px 10px 10px white; 
	border-radius: 10px;
}

.frameimg {
	border : 10px solid #ffe268;
	margin: 50px;
	box-shadow: 10px 10px 10px white; 
	border-radius: 10px;
}

h3, ul {text-align : left; }

.drapeau {background: white;
height:  70px;
width:70px;
display: flex;
justify-content: center;
align-items: center;
}

.blue {
	background: #A3CAE8 ;
	height: 200px
	width: 100px;
}

.white {
	background: #FFF1AE ;
	height: 200px
	width: 100px;
}

.red {
	background: #A3CAE8 ;
	height: 200px
	width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFE567;
}

.item {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 10px 30px;
  color: #F68546;
}

.item:hover {
  color: #F65746;
}

.menu {
	display: flex;
}


.btn-ghost {
  color: #FF790A;
  border: 1px solid #FF790A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF9034;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#FE3338, #FF8487);
  transition: background 0.3s ease;
  border: 1px solid #E90988;
}

.btn-gradient:hover {
  background: linear-gradient(#FE3338, #FF8487);
  color: white;
}



